<html>
	<head>
	</head>

	<body>
		<form action=?app=dologin method="POST">
			DB name:<br><input type="text" name="dbname"><br>
			Host:<br><input type="text" name="dbhost"><br>
			User:<br><input type="text" name="dbuser"><br>
			Password:<br><input type="text" name="dbpass"><br>
			<br>
			<input type="submit" value="Ok">
		</form>
	</body>
</html>
